table {
    border: rgb(102,0,0) 3px solid;
    border-collapse: collapse;
}

td, tr {
    border: rgb(102,0,0) 1px solid;
    width: 70px;
    height: 70px;
    text-align: center;
}

.main {
    background-image: url(./assets/hout.jpg);
}

.text {
    float: right;
    width: 300px;
    border: rgb(102,0,0) 3px solid;
    background-image: url(./assets/witte-marmer.jpg);
    padding: 10px;
}

.white {
    background-image: url(./assets/witte-marmer.jpg);
}

.black {
    background-image: url(./assets/zwarte-marmer.jpg);
}